* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* changes the background color of the block level elements body section*/
body {
    background-color: #d9dcd6;
}
/*adds padding, background color, text color, and adds a font or multiple fonts to text incase the computer doesn't support first font*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*block level header and h1 elements will be inline and the font size is increased*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*changes color of seo text*/
.header h1 .seo {
    color: #d9dcd6;
}

/* adds padding margins font and font size to all the block level elements under header div*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*block level elements under these tags will not have any change to their style types no bullet points or numbers*/
.header div ul {
    list-style-type: none;
}

/* the text under these  block level elements will all display in a line horizontally*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* font color and there will be no lines going through or over and under all the text with the inline element a tag*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*font size of all block level elements labeled p changed*/
p {
    font-size: 16px;
}

/* changes height width adds image positions and sizes image for block level elements in hero class*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*images in class float left will apear to left with the right margins increased*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*images in class float right will appear to the right with the left margins increased*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*all block level elements in content class will appear in line with one another with the margins adjusted and the width of the element also adjusted*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*all block level elements in benifits class have margins and padding inside of border increased along with font text and background color and the max height and width adjusted*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*condesned css to include all the inline block elements with the same css properties with margin bottom and color*/
.benefit-lead, .benefit-brand, .benefit-cost  {
                                        margin-bottom: 32px;
                                        color: #ffffff;
}


/*condensed all inline block elements with the same css elements*/
.benefit-lead h3, .benefit-cost h3, .benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*condensed all images with the same css properties*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*condensed all block level elements with the same css properties*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*condensed all block level elements with imag tags for the same max hight*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/*condensed and changed margins and font size for all block level elements with the h2*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
